<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="dashboard">

        <div class="dashboard__action">
          <a href="/dashboard/create">Create a new form →</a>
        </div>

        <ul class="dashboard__submissions">
          <div class="dash__headers">
            <span class="submission__c1">The Question</span>
            <span class="submission__c2">Submission Count</span>
            <span class="submission__c3">Last Submission at</span>
          </div>
          <% queries.forEach(function(entry) { %>
            <li style="border-left: 5px solid <%= entry.color %>">

              <a class="submission__link" href="/dashboard/<%= entry._id %>">
                <span class="submission__c1"><%= entry.query %></span>
                <span class="submission__c2"><%= entry.count %></span>
                <span class="submission__c3"><%= moment(entry.updatedAt).format("MMM, Do h:mm a"); %></span>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
