<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <script>
    function copy() {
      var copyText = document.getElementById("code");
      copyText.select();
      document.execCommand("copy");
      alert("Copied!");
    }
    </script>

    <main>
    <%- JSON.stringify(query) %>
      <button onClick="copy()">Copy</button>
      <textarea id="code">
        &lt;script src='formcrow.com/widget/formcrow.js'>&lt;/script>
        &lt;form-crow query="<%- query.query %>" prime_color="<%- query.color %>" uid="<%- query._id %>"/>&lt;/form-crow>
      </textarea>


      <a href="/dashboard/">Go Back</a>

       <ul>
        <% leads.forEach(function(lead) { %>
          <li class="color">
            <%= lead.submission %>
          </li>
        <% }); %>
      </ul>

    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
