<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>



    <main>
    <%- JSON.stringify(query) %>
      <code>
        &lt;script src='formcrow.com/widget/formcrow.js'>&lt;/script>
        &lt;form-crow query="<%- query.query %>" prime_color="<%- query.color %>" uid="<%- query._id %>"/>&lt;/form-crow>
      </code>


      <a href="/dashboard/">Go Back</a>

       <ul>
        <% leads.forEach(function(lead) { %>
          <li class="color">
            <%= lead.submission %>
          </li>
        <% }); %>
      </ul>

    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
